.common-btn{
    width: 200px;
    height: 30px;
    cursor: pointer;
    background-color: whitesmoke;
    border: 1px solid #0f93db;
    color: #0f93db;
    border-radius: 30px;
    font-family: system-ui;

}
.common-btn:hover{
    background-color: whitesmoke;
    border: 1px solid #055d8c;
    color: #0c84c4;
}