.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    .input-label{
        padding: 10px;
        border: solid 2px #212121;
        border-radius: 5px;
        cursor: pointer;
        font-family: system-ui;
    }
    .progress-bar{

    }
}