.connection-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 5px rgb(248, 244, 244);
}
.connect-btn{
    background-color: #3FA2F6;
    height: 40px;
    border-radius: 5px;
    width: 90%;
    font-family: system-ui;
    cursor: pointer;
}
.connection-name{
    font-family: system-ui;
    font-size: medium;
}

.connection-headline{
    margin-top: -10px;
    font-family: system-ui;
    font-size: smaller;
}