.search-container{
    display: flex;
    gap: 10px;
    flex-direction: row;
    .search-input{
        width: 300px;
        height: 35px;
        background-color: white;
        border-radius: 10px;
        color: black;
        font-family: system-ui;
        padding-left: 15px;
        padding-right: 30px;

    }
    .cross-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: -35px;
        z-index: 4;
    }
}