.like-container{
    display: flex;
    flex-direction: column;
    .inner-liked-container{
        display: flex;
        width: auto;
        justify-content: space-evenly;
        
        .like-btn:hover{
            cursor: pointer;
        }
        .like-btn{
           display: flex;
           flex: 1;
           gap: 10px;
           padding: 10px;
        }
        label{
            font-family: system-ui;
            font-weight: 500;
            color: #0073b1;
            font-size: 16px;
        }
    }
    .user-count{
        font-family: system-ui;
        font-weight: 500;
        color: rgba(173, 1, 130, 0.835);
        font-size: 10px;
        padding-left: 10px;
    }
    .hr-line{
        margin-top: -12px;
    }
    .comments-main-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }
    .comment-input{
        background-color: white;
        color: #212121;
        
    }
}