.profile-edit-inputs{
    display: grid;
    margin-top: 40px;
}
.aboutme{
    background-color: white;
    font-family: system-ui;
    font-weight: 400;
    padding: 10px;
    color: black;
}
.save-container{
    display: flex;
    justify-content: center;
}

